body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 0;
}
  
.pet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin: 0;
}
  
.pet {
    width: 80%;
}

.petname{
    text-align: center;
}

.petimg, .petimgdan{
    width: 100%;
}

.stats{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-bar {
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 8px;
    margin: 8px;
    border: 2px;
    border-radius: 15px;
    border-color: #908488;
    border-style: solid;

}

.stat-bar img{
    width: 8%;
}
  
.actions{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 24px;
}

.actions img{
    width: 30%;
}

    